html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  /* @extend .sans-serif, .mid-gray, .lh-title; */
}

.highlight {
  /* @extend .br2, .pa3, .highlight; */
}

a {
  /* @extend .link, .underline-hover; */
  color: #ff3030;
}

a:visited {
  color: #faa
}

p > code {
  /* @extend .br2, .pa1; */
  background-color: #eee;
  font-size: 12px;
}

code {
  font-size: 14px;
}

pre {
  /* @extend .mv0; */
}

.highlight {
  overflow: scroll;
}

.nav-blue {
  color: #3F51B5;
}